/* font-family: 'Indie Flower', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h4 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


/*.w {
    /* width: 1200px; 
    margin: 0 auto;
}
*/

.clearfix::after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

.subtitle {
    padding: 30px;
    text-align: center;
    font-size: 28px;
}

.small-title {
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 5px;
}

/* -----------logo and navbar ----------*/


header.logo {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #050505;
    color: #fff;
}

div.logo {
    align-self: center;
    padding-left: 50px;
}

div.logo a {
    color: #fff;
}


.logo nav a {
    display: inline-block;
    padding: 30px 30px;
    color: #fff;
}

.logo nav a:hover {
    background-color: #666;
}

/* -------intro--------- */

.intro {
    text-align: center;
    background-color: #ebe7e0;
}


.title h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 56px;
    letter-spacing: 5px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.title h4 {
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    padding-bottom: 20px;
}

.intro img {
    border: rgb(247, 245, 242) 10px solid;
    width: 20%;
    border-radius: 50%;
}

.intro>h1 {
    padding: 20px;
    font-size: 32px;
}

.intro p {
    padding-bottom: 15px;
}

/* ------skills --------- */

#skills {
    background-color: #f7f5f2;
    padding: 50px;
}


section.skills {
    display: grid;
    grid-template-columns: 15% 15% 15%;
    justify-content: center;
    gap: 10px;
}


.program {
    background-image: url("../images/coding.png");
    background-repeat: no-repeat;
    background-size: 45px;
    text-indent: 50px;
}

.language {
    background-image: url("../images/languages.png");
    background-repeat: no-repeat;
    background-size: 45px;
    text-indent: 50px;
}

.craft {
    background-image: url("../images/handcraft.png");
    background-repeat: no-repeat;
    background-size: 45px;
    text-indent: 50px;
}

/* --------project ---------- */

#project {
    background-color: rgb(247, 245, 242);
}

.project-box {
    display: grid;
    grid-template: 1fr 1fr / 18% 18%;
    gap: 5%;
    justify-content: center;
    padding-bottom: 50px;
}

.project-box img {
    width: 80%;
}

.project-box>div {
    padding-bottom: 10px;
}


/* -----contact me btn--------- */
#cta {
    text-align: center;
    background-color: rgb(235, 231, 224);
    padding-bottom: 30px;
}

#cta p {
    padding-bottom: 30px;
}

.btn {
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #f89427;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #f89470;
    text-decoration: none;
}

/* ----- social bar --------- */


.social-bar {
    position: fixed;
    bottom: 20px;
    left: 95%;
}

.social-bar li {
    list-style: none;
}

.social-bar img {
    width: 40%;
    opacity: .5;
}

/* ------responsive --------- */

/* @media only screen and (max-width: 405px)  {

    div.logo {
        align-self: center;
        padding-left: 10px;
    }
    
    .logo nav {
        padding: 10px;
    }
    
    .logo nav a {
        display: inline;
        color: #fff;
        padding: 8px;
    }

    .intro img {
        width: 40%;
        border-radius: 50%;
    }

    section.skills {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .project-box {
        grid-template: repeat(4, 1fr) / 60%;
        gap: 7px;
    }


    .social-bar {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        position: static;
        padding-bottom: 30px;
        background-color: rgb(235, 231, 224);

    }

    
    .social-bar img {
        margin-left: 30px;
        width: 30%;
        opacity: .5;
    }


    
} */